---
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'
import { contentStyle } from '@annihilation-list/yyz/blog/content.css.ts'
import RootLayout from '@features/root/RootLayout.astro'

export const getStaticPaths: GetStaticPaths = async () => {
  const blogEntries = await getCollection('blog')

  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<RootLayout>
  <div class={contentStyle}>
    <Content />
  </div>
</RootLayout>