---
import { getCollection } from 'astro:content'
import RootLayout from '@features/root/RootLayout.astro'

const blogCollections = await getCollection('blog')

---

<RootLayout>
  {
    blogCollections.map(entry => (
      <a href={`/blog/${entry.slug}`}>{JSON.stringify(entry.data, null)}</a>
    ))
  }
</RootLayout>
