---
import '@annihilation-list/yyz/styles/global.css.ts'
import { markdownCSS } from '@annihilation-list/yyz/styles/markdown.css.ts'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Crime Slunk Scene</title>
  </head>
  <body>
    <article class={markdownCSS}>
      <slot />
    </article>
  </body>
</html>
