---
import { paperStyle } from '@annihilation-list/yyz/styles/layouts/paper.css.ts'
import Head from '~/components/Head.astro'
import '@annihilation-list/yyz/styles/glob.css'
---

<!DOCTYPE html>
<html lang="en">
  <Head title="Crime Slunk Scene" description="" />
  <body>
    <div class={paperStyle}>
      <slot />
    </div>
  </body>
</html>
